<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <meta content="One movie per week." name="description">
        <meta content="X G" name="author">
<!--        <title>One Movie</title>-->
        <title>
            One Movie
            {% block title_block %}
                One Movie
            {% endblock %}
        </title>
        {% block bootstrap_block %}
        {% endblock %}
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <nav class="navbar navbar-light container-fluid text-center bg-lightgray">
          <div class="copyrights" style="margin-top:25px;">
            <p>oneChoice © 2017, All Rights Reserved
              <br>
              <span>Web Design By: Ye Han</span></p>
              <p><a href="https://www.google.com" target="_blank">google <i class="fa fa-linkedin-square" aria-hidden="true"></i> </a></p>
          </div>
        </nav>
    </body>
</html>
