<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
            <meta charset="utf-8">
        <meta content="One movie per week." name="description">
        <meta content="X G" name="author">
<!--        <title>One Movie</title>-->
        <title>
            One Movie
            {% block title_block %}
                One Movie
            {% endblock %}
        </title>
        {% block bootstrap_block %}
        {% endblock %}
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
    </body>
</html>